- page_title "日志"

%ul.nav-links.log-tabs.nav.nav-tabs
  - @loggers.each do |klass|
    %li.nav-item
      = link_to klass.file_name, "##{klass.file_name_noext}", data: { toggle: 'tab' }, class: "#{active_when(klass == @loggers.first)} nav-link"
.row-content-block
  为了防止性能问题管理日志只输出最后的 2000 行
.tab-content
  - @loggers.each do |klass|
    .tab-pane{ class: active_when(klass == @loggers.first), id: klass.file_name_noext }
      .file-holder#README
        .js-file-title.file-title
          %i.fa.fa-file
          = klass.file_name
          .float-right
            = link_to '#', class: 'log-bottom' do
              %i.fa.fa-arrow-down
              向下滚动
        .file-content.logs
          %ol
            - klass.read_latest.each do |line|
              %li
                %p= line
