.col-md-6
  .form-group.row
    .col-form-label.col-sm-2
      = f.label :start_date, "开始日期"
    .col-sm-10
      = f.text_field :start_date, class: "datepicker form-control", placeholder: "Select start date", autocomplete: 'off'
      %a.inline.float-right.prepend-top-5.js-clear-start-date{ href: "#" } Clear start date
  .form-group.row
    .col-form-label.col-sm-2
      = f.label :due_date, "结束日期"
    .col-sm-10
      = f.text_field :due_date, class: "datepicker form-control", placeholder: "Select due date", autocomplete: 'off'
      %a.inline.float-right.prepend-top-5.js-clear-due-date{ href: "#" } Clear due date
